body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 20px;
}

button,
input[type="text"] {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px; 
  font-size: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  background-color: #007bff; 
  color: white; 
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 300px;
}

button:focus {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  justify-items: center;
  margin-top: 5px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
  background-color: white;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card p {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  margin: auto;
  text-align: center;
}

.details-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.details-card h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.details-card p {
  font-size: 25px;
  color: #555;
  margin: 5px 0;
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

#pagination button {
  width: auto;
}
